
Enter the name of those in the class below.

<form method = "post" action = "names">
	<% quantity.to_i.times do%>

	<input type = "text" autofocus="autofocus" name = "user_names">
<%end
%>
	<input type = "submit">
</form>
