<link rel="stylesheet" href = "css/style.css">

<center><p>How many people are in class today?</p>
	<input type="text" id="myInput" oninput="myFunction()" >
	<form method = "post" action = "names" id= "text_box">
	<p id="demo"></p>
</form></center>


<script>

function myFunction() {
	var x = document.getElementById("myInput").value;
	var y = "";
	for (i = 0; i < x; i++) {

    }

    //var y = is equivelent to y = 

    document.getElementById("demo").innerHTML = "Enter their names in the boxes below:<br> ";



for (var i = 1; i <= x; i++){

var input = document.createElement("input");

// var c = document.body.children;

input.type = "text";
input.name = "text" + i; //names the element
input.id = "marv"
document.getElementById("demo").appendChild(input).value;
// i wants to make the contents of boxes to an array of strings called by variable
}

 }

</script>

<br>

<center><input type = "submit">

</form></center>

